<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>{% block title %}DND Character Manager{% endblock %}</title>
</head>
<body>
    <ul class="tabs">
        <li data-tab-target="#home" class="active tab">Home</li>
        <li data-tab-target="#characters" class="tab">Characters</li>
        <li data-tab-target="#about" class="tab">About</li>
    </ul>

    <div class="tab-content">
    {% block content %}{% endblock %}
    </div>
</body>
</html>

